<main class="main">
    <article class="main__article">
        <h2 class="main__article__title">Título del post</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet facilis, eius nobis beatae saepe maxime ea
            fugit nisi facere illum quas vitae adipisci commodi dicta, quidem a repudiandae, corporis similique?</p>
    </article>
    <article class="main__article">
        <h2 class="main__article__title">Título del post</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet facilis, eius nobis beatae saepe maxime ea
            fugit nisi facere illum quas vitae adipisci commodi dicta, quidem a repudiandae, corporis similique?</p>
    </article>
    <article class="main__article">
        <h2 class="main__article__title">Título del post</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet facilis, eius nobis beatae saepe maxime ea
            fugit nisi facere illum quas vitae adipisci commodi dicta, quidem a repudiandae, corporis similique?</p>
    </article>
</main>